body.login-background {
  background-color: #ffffff;
}

/*Giao diện cho laptop*/
/*===========================================================================*/
.login-container.laptop {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* Bên trái - phần nhập tên + luật chơi */
.login-left.laptop {
  flex: 1;
  padding-right: 5vw;
}

.login-title.laptop {
  text-align: left;
  font-size: 3vw;
  color: #3baaee;
  font-family: 'Segoe UI', sans-serif;
  margin: 5vh 0 2vh 7vw;  /*top right bottom left*/
}

.login-decription.laptop {
  text-align: left;
  font-size: 1.5vw;
  color: #5a91b3;
  font-family: 'Segoe UI', sans-serif;
  margin: 0 0 3vh 7.5vw;
}

.login-input.laptop {
  width: 36vw;
  padding: 0.7vw;
  font-size: 1.3vw;
  border-radius: 1vw;
  border: 0.1vw solid #ccc;
  margin: 0 0 0 7vw;
}

.login-button-grid.laptop {
  text-align: left;
}

.login-button.laptop {
  padding: 2vh 2vw;
  margin: 3vh 0 0 7vw;
  font-size: 1.3vw;
  border-radius: 1vw;
  background-color: #3baaee;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-button.laptop:hover {
  transform: translateY(-0.8vh);
}

.login-button.laptop:disabled {
  background-color: #afdffd;
  cursor: not-allowed;
}

.login-button.laptop:hover:enabled {
  background-color: #258ccc;
  transform: translateY(-1.5vh);
}

/* Bên phải - hình ảnh */
.login-right.laptop {
  background-color: #3baaee;
  padding: 0 0 2vh 2vh;
  margin: 0 0 15vh 0;
  border-bottom-left-radius: 60vh;
  box-shadow: -0.1vw 0.9vh 1vw rgba(0, 0, 0, 0.4);
}

.login-right.laptop img {
  max-width: 100vw;
  height: 80vh;
  object-fit: cover;
}

/*Cuối trang*/
.login-footer-strip.laptop {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 20vh; /* bạn có thể thay đổi chiều cao nếu muốn */
  background-color: #3baaee;
  z-index: 0;
  box-shadow: 0 -0.5vh 1vw rgba(0, 0, 0, 0.3);
}

/*Tạo animation cho khung luật chơi*/
.rules-toggle-button.laptop {
  padding: 2vh 2vw;
  font-size: 1.3vw;
  background-color: #ffb703;
  border: none;
  border-radius: 1vw;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease;
  margin-left: 2.5vw;
}

.rules-toggle-button.laptop:hover {
  background-color: #e3a100;
  transform: translateY(-1.5vh);
}

/* Drawer trượt từ dưới lên */
.rules-drawer.laptop {
  position: fixed;
  margin: 0 0 0 7vw;
  bottom: -23vh; /* Ẩn đi */
  height: 40vh;
  width: 36vw;
  background-color: #fff7ef;
  border-radius: 2vw 2vw 0 0;
  box-shadow: 0.3vw -0.5vh 0.5vw rgba(0, 0, 0, 0.2);
  transition: bottom 1s ease;
  padding: 2vh 2vw 1vh 2vw;
  z-index: 0;
}

.rules-drawer.show.laptop {
  bottom: 17vh; /* Hiện ra */
}

.rules-drawer.laptop ul {
  padding: 0 0 0 1vw;
  font-size: 1.2vw;
}

.rules-drawer.laptop ul li{
  margin-bottom: 1vh;
}

.rules-text.laptop {
  padding: 0 0 1vh 1vw;
  font-size: 1.5vw;
  color: #ffb703;
  font-weight: bold;
}

/*Tạo animation cho khung giới thiệu*/
.inst-toggle-button.laptop {
  padding: 2vh 2vw;
  font-size: 1.3vw;
  background-color: #ffb703;
  border: none;
  border-radius: 1vw;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease;
  margin-left: 2.5vw;
}

.inst-toggle-button.laptop:hover {
  background-color: #e3a100;
  transform: translateY(-1.5vh);
}

/* Drawer trượt từ dưới lên */
.inst-drawer.laptop {
  position: fixed;
  margin: 0 0 0 7vw;
  bottom: -23vh; /* Ẩn đi */
  height: 40vh;
  width: 36vw;
  background-color: #fff7ef;
  border-radius: 2vw 2vw 0 0;
  box-shadow: 0.3vw -0.5vh 0.5vw rgba(0, 0, 0, 0.2);
  transition: bottom 1s ease;
  padding: 2vh 2vw 1vh 2vw;
  z-index: 0;
}

.inst-drawer.show.laptop {
  bottom: 17vh; /* Hiện ra */
}

.inst-drawer.laptop ul {
  padding: 0 0 0 1vw;
  font-size: 1.2vw;
}

.inst-drawer.laptop ul li{
  margin-bottom: 1vh;
}

.inst-text.laptop {
  padding: 0 0 1vh 1vw;
  font-size: 1.5vw;
  color: #ffb703;
  font-weight: bold;
}


/*Giao diện cho mobile*/
/*===========================================================================*/
.login-container.mobile {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  color: #5a4d45;
}
