.QuizPage-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F8F9FB;
  z-index: -1;
}

.question-container {
  color: #1f2937;
  font-family: 'Segoe UI', sans-serif;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* để đẩy nội dung và button ra 2 đầu */
  padding: 20px;
  width: 800px;
  height: 500px;
  margin: 24px auto;
  border: 1px solid #e5e7eb;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.question-number {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #4A90E2;
}

.question-score {
  margin: 8vh 0 0 25vw;
  font-size: 24px;
  font-weight: medium;
  color: #f6ac69;
}

.question-text {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
}

.options-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 0;
  margin-top: 20px;
  margin-top: auto;
}

.option-button {
  width: 200px;
  height: 300px;
  padding: 12px 12px;
  border-radius: 16px;
  border-top: 1px solid #ffffff;
  border-bottom: 5px solid #4A90E2;
  border-left: 1px solid #ffffff;
  border-right: 2px solid #4A90E2;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 20px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.option-button:hover {
  background-color: #def4fb;
  border-radius: 16px;
  transition: 0.3s;
  transform: translateY(-10px);
}

.option-button.correct {
  background-color: #C8E6C9;
}

.option-button.incorrect {
  background-color: #FFCDD2;
}

.option-button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

.timer {
  position: absolute;
  top: 20px;
  right: 40px;
  text-align: right;
  font-size: 18px;
  color: #555;
}

.complete-quiz-grid{
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 30vh 0 0 0;
}

.complete-quiz {
  width: 25vw;
  height: 35vh;
  padding: 3vh 1.3vw;
  border-radius: 1vw;
  border: 0.1vw solid #ffffff;
  background-color: #ffffff;
  transition: background-color 0.1s;
  font-size: 1.5vw;
  box-shadow: 0.1vw 0.7vh 1vw rgba(0, 0, 0, 0.2);
}

.complete-title {
  color: #ff804e;
}

.complete-text {
  margin-top: 4vh;
  color: #4A90E2;
}

.reviewBoard {
  margin-top: 5vh;
  width: 17vw;
  height: 8vh;
  padding: 0.7vh 0.7vw;
  border-radius: 1vw;
  border: 0.1vw solid #ffffff;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.3vw;
  box-shadow: 0.1vw 0.7vh 1vw rgba(0, 0, 0, 0.1);
}

.reviewBoard:hover {
  background-color: #def4fb;
  transform: translateY(-1vh);
}